Flask==3.0.0
gunicorn==21.2.0  # Optional: For deploying on production servers
Flask-SQLAlchemy==3.1.1  # Optional: If using a database
Flask-WTF==1.2.1  # Optional: If using forms
Flask-Login==0.6.3  # Optional: For user authentication
Flask-Migrate==4.0.7  # Optional: For database migrations
Flask-Cors==4.0.0  # Optional: To handle CORS (Cross-Origin Resource Sharing)